rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {

    function isSignedIn() {
      return request.auth.uid != null;
    }

    function isAssigned(uid) {
      return request.auth.uid == uid;
    }

    match /users/{userId} {
      allow create: if isSignedIn();
      allow list, read; 
      allow update: if isAssigned(userId);

      match /albums/{albumId} {
        allow write: if isAssigned(userId);
        allow read: if isSignedIn();
      }

      match /songs/{songId} {
        allow write: if isAssigned(userId);
        allow read: if isSignedIn();
      }

      match /tracks/{trackId} {
        allow write, read: if isAssigned(userId);
      }

      match /playlists/{playlistId} {
        allow write, read: if isAssigned(userId);
      }
    }
  }
}